<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>RestFs</title>

	<style media="screen" type="text/css">
	
		a, u {
		    text-decoration: none;
		}	
		
		ul {
		  	list-style-type: none;
		}		
		
		li {
		  	margin: 10px 0;
		}	
		
		body {
			padding: 50px;
		}	
	
	</style>            
</head> 
<body>

	<p>
		<a href="#"><b>create</b></a>
	</p>
	
	<p>
		available containers
		<ul>

		    {{#each containers}}    
		    	<li>
		    		<a href="{{baseUri}}containers/{{this}}">{{this}}</a>
				</li>    	        
			{{/each}}
		
		</ul>
	</p>
	

</body>
</html>