{{#partial "main"}}
<div class="container-fluid">

    <h1 class="mt-4">Available containers</h1>
    
    <div class="row">
    {{#each containers}}
    
        <div class="col-xl-3 col-md-6">
            <div class="card bg-light mb-4">
                <div class="card-body">{{this}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small stretched-link" href="{{baseUri}}containers/{{@key}}">{{@key}}</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    
	{{/each}}                        
    </div>     
                                               
</div>
{{/partial}}

{{> base-template}}