<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RestFs</title>

	<style media="screen" type="text/css">

		a, u {
		    text-decoration: none;
		}

		ul {
		  	list-style-type: none;
		}

		li {
		  	margin: 10px 0;
		}

		body {
			padding: 50px;
		}

	    form {
			background-color: lightgray;
			padding: 50px;
		}	    

	    form > div {
	      	padding: 15px;
	    }
	    
	</style>
</head>
<body>

	<p>
        <form action="http://localhost:8086/restfs/v1/containers" method="post">
            <div>
                <label for="name">Name:</label>
                <input autocomplete="off" type="text" name="name">
            </div>
            <div>
                <label for="id">Uuid:</label>
                <input autocomplete="off" type="text" name="id">
            </div>
            <div>
            	<label for="name">stats:</label>
            	<input type="checkbox" name="statsEnabled" value="true" checked="checked">

            </div>
            <div>
            	<label for="name">web hook:</label>
            	<input type="checkbox" name="webHookEnabled" value="true" checked="checked">

            </div
            <div class="button">
                <button type="submit">Create</button>
            </div>
        </form>
	</p>

	<p>
		available containers
		<ul>
	    {{#each containers}}
	    	<li>
	    		<a href="{{baseUri}}containers/{{this}}">{{this}}</a>
			</li>
		{{/each}}
		</ul>
	</p>


</body>
</html>
