<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>RestFs</title>

	<style media="screen" type="text/css">
	
	
	</style>            
</head> 
<body>

	<a href="{{baseUri}}containers">&lArr;</a>

	<p>{{this}}</p>	

</body>
</html>